body {
	background-image: url(lyagushka-ogurec.jpg);
}

h1, h2, p {
	color: black;
}

#download {
	border: 4px solid black;
	font-size: 30px;
	text-decoration: none;
	color: lime;
	background-color: green;
}